$color-white: white;
.App {
  height: 100%;

  &__header {
    background: $color-white;
    padding: 0;
  }

  &__list {
    height: 100%;
    overflow: auto;
    padding-bottom: 62px;
  }

  &__footer {
    padding: 0 12px;
    background: $color-white;
    z-index: 1;
  }
}
