$color-white: white;
.App {
  height: 100%;

  &__header {
    background: $color-white;
    padding: 0;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__search-form {
    flex: 0 0 auto;
    padding: 16px;
  }

  &__list {
    flex: 1 1 auto;
    overflow: auto;
    padding: 16px 16px 64px;
  }

  &__list-characters {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    align-items: center;
  }

  &__detail {
    flex: 1 1 auto;
    padding: 16px;
  }

  &__footer {
    padding: 0 12px;
    background: $color-white;
    z-index: 1;
  }

  &__loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
